# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [3]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

In [3]:
print(1.0 +
1.4142135623730951 +
1.7320508075688772 +
2.0 +
2.23606797749979)

8.382332347441762

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [5]:
# import dlt

# # Define the first resource.
# @dlt.resource(name="people_1")
# def people_1():
#     for i in range(1, 6):
#         yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

# # Define the second resource.
# @dlt.resource(name="people_2")
# def people_2():
#     for i in range(3, 9):
#         yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

# # Define a pipeline that will load data to a destination.
# pipeline = dlt.pipeline(
#     pipeline_name='my_pipeline',
#     destination='my_destination',
#     dataset_name='my_dataset'
# )

# # Add the resources to the pipeline.
# pipeline.extract(people_1, write_disposition="append")
# pipeline.extract(people_2, write_disposition="append")

# # Run the pipeline.
# pipeline.run()

In [4]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

# Combine the data from both generators.
combined_data = list(people_1()) + list(people_2())

# Calculate the sum of all ages.
total_age = sum(person['Age'] for person in combined_data)
print(f'Total age of all people: {total_age}')

Total age of all people: 353

In [6]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

# Combine the data from both generators.
combined_data = list(people_1()) + list(people_2())

# Calculate the sum of all ages.
total_age = sum(person['Age'] for person in combined_data)
print(f'Total age of all people: {total_age}')

Total age of all people: 353

In [5]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

# Combine the data from both generators.
combined_data = list(people_1()) + list(people_2())

# Calculate the sum of all ages.
total_age = sum(person['Age'] for person in combined_data)
print(f'Total age of all people: {total_age}')

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}
Total age of all people: 353

In [11]:
import pandas as pd

def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

# Convert generators to DataFrames
df1 = pd.DataFrame(people_1())
df2 = pd.DataFrame(people_2())

# Merge the two DataFrames on 'ID'
merged_df = pd.merge(df1, df2, on='ID', how='outer')

# Calculate the sum of ages
total_age = merged_df['Age_x'].sum() + merged_df['Age_y'].sum()

print(total_age)
# if 'Age' in merged_df.columns:
#     total_age = merged_df['Age'].sum()
#     print(total_age)
# else:
#     print("No 'Age' column in the merged data")

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}
353.0

In [12]:
import pandas as pd

def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

# Convert generators to pandas DataFrames
df1 = pd.DataFrame(people_1())
df2 = pd.DataFrame(people_2())

# Merge the two DataFrames on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID', how='outer')

# Calculate the sum of ages
total_age = merged_df['Age_x'].sum() + merged_df['Age_y'].sum()

print(total_age)

353.0

In [10]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

total_age = 0

for person in people_1():
    total_age += person['Age']

for person in people_2():
    total_age += person['Age']

print(total_age)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}
353

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [16]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

In [25]:
# to do: homework :)
import dlt

# Define your generators
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

# Create a pipeline
pipeline = dlt.pipeline(
    pipeline_name="people_data",
    destination="duckdb",  # or any other destination you prefer
    dataset_name="people"
)

# Load the first generator
@dlt.resource(primary_key="ID", write_disposition="replace")
def load_people_1():
    yield from people_1()

pipeline.run(load_people_1)

# Load the second generator with merge
@dlt.resource(primary_key="ID", write_disposition="merge")
def load_people_2():
    yield from people_2()

pipeline.run(load_people_2)

load_info = pipeline.run(load_people_2)

# Print general information
print(f"Pipeline: {load_info.pipeline}")
print(f"Destination: {load_info.destination_type}")
print(f"Dataset: {load_info.dataset_name}")

# Print information about each load package
for package in load_info.load_packages:
    print(f"Load ID: {package.load_id}")
    print(f"State: {package.state}")
    print(f"Schema: {package.schema}")
    print(f"Completed at: {package.completed_at}")

    # Print information about each job in the package
    for job in package.jobs['completed_jobs']:
        print(f"Job file path: {job.file_path}")
        print(f"State: {job.state}")
        print(f"Elapsed time: {job.elapsed}")
        print(f"Failed message: {job.failed_message}")

# Now you can query the loaded data to calculate the sum of ages
query = "SELECT SUM(Age) FROM load_people_2"
with pipeline.sql_client() as client:
    result = client.execute(query)
    sum_of_ages = result.fetchone()[0]

print(f"The sum of ages is {sum_of_ages}")

Pipeline: <dlt.pipeline.pipeline.Pipeline object at 0x7b53fab00d30>
Destination: dlt.destinations.duckdb
Dataset: people
Load ID: 1708275784.5545907
State: loaded
Schema: Schema people_data at 135600617994992
Completed at: 2024-02-18 17:03:05.395478+00:00
Job file path: /var/dlt/pipelines/people_data/load/loaded/1708275784.5545907/completed_jobs/load_people_2.da5fcd3566.0.insert_values
State: completed_jobs
Elapsed time: 0.7930686473846436
Failed message: None
Job file path: /var/dlt/pipelines/people_data/load/loaded/1708275784.5545907/completed_jobs/load_people_2.3e11a524c4.0.sql
State: completed_jobs
Elapsed time: 0.3660316467285156
Failed message: None
The sum of ages is 213

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX